.allproductShowwOffertext{
    background-color: #8c87ff;
    padding: 2px 5px;
    color: white;
    top:7px;
    left:0px;
    font-size: 11px;
    position: absolute;

}
.allproductShowwRating{
    border: 1px solid #d1d1d1;
    padding: 2px 5px;
    color: white;
    color: rgb(3, 3, 3);
    bottom:0px;
  
    right:0px;
    font-size: 11px;
 
    position: absolute;
}
@media only screen and (max-width:720px) {
    .gonoise_byCmp{
        width: 100%;
        position: fixed;
        bottom: 0px;
    }
    
}