.ms_lg-hidden {
    display: none !important;
}

@media only screen and (max-width:720px) {
    .sm-hidden {
        display: none !important;
    }

    .ms_lg-hidden {
        display: block !important;
    }

}